@"  
# Python  
__pycache__/  
*.py[cod]  
*$py.class  

# Archivos temporales de Excel  
~$*  
*.tmp  
*.xlsx  
!Base_control_2.xlsx  
!Base_control_1.xlsx  
!Base_control_3.xlsx 
!Analisis_Comparativo_Propuestas.xlsx
!Analisis_Descriptivo.xlsx

# Entornos virtuales  
venv/  
env/  
.env  

# Archivos del sistema  
.DS_Store  
Thumbs.db  

# IDEs  
.idea/  
.vscode/  
"@ | Out-File -FilePath ".gitignore" -Encoding UTF8 -Force